<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitness">

    <application
        android:allowBackup="true"
        android:icon="@drawable/yoga_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:parentActivityName=".UI.MainActivity"
            android:label="Account Settings"
            android:name=".UI.Profile"></activity>
        <activity
            android:name=".UI.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".UI.CreateAccount"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".UI.Calendar"
            android:label="Workout Calendar"
            android:parentActivityName=".UI.MainActivity" />
        <activity
            android:name=".UI.DailyTrainingActivity"
            android:label="Workout Challenge"
            android:parentActivityName=".UI.MainActivity" />
        <activity
            android:name=".UI.SettingsActivity"
            android:label="Workout Alarm"
            android:parentActivityName=".UI.MainActivity" />

        <receiver android:name=".AlarmNotifictionReceiver" />

        <activity
            android:name=".UI.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UI.ViewExercisesActivity"
            android:label="Yoga Exercises"
            android:parentActivityName=".UI.MainActivity" />
        <activity
            android:name=".UI.ExercisesListActivity"
            android:label="Yoga Workout"
            android:parentActivityName=".UI.MainActivity" />
        <activity
            android:name=".UI.SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>